@font-face {
    font-family: 'Cristone';
    src: url('Cristone-Regular.woff2') format('woff2'),
        url('Cristone-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

